html, body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

.blog-item h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243d;
    
}

.blog-item p {
    background-color: red;
}

.blog-item .publish-date {
    background-color: greenyellow;
}

.blog-item .publish-place {
    background-color: burlywood;
}

button {
    background-color: rgb(22, 110, 243);
    margin: 50px;
}

